In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'languages': ['Python', 'C', 'C++', 'Java'], 'tough': ['no', 'yes', 'yes', 'no'], 'releaseYear': [1997, 1970, 1981, 1990]})
df.shape

(4, 3)

In [3]:
df.head(10)

  languages tough  releaseYear
0    Python    no         1997
1         C   yes         1970
2       C++   yes         1981
3      Java    no         1990

In [4]:
df.columns

Index(['languages', 'tough', 'releaseYear'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
df[df.tough == 'yes'].languages.values

array(['C', 'C++'], dtype=object)

In [7]:
df.values

array([['Python', 'no', 1997],
       ['C', 'yes', 1970],
       ['C++', 'yes', 1981],
       ['Java', 'no', 1990]], dtype=object)

In [8]:
df[df['tough'] == 'yes'].languages.values

array(['C', 'C++'], dtype=object)

In [18]:
# at

df.at[1, 'releaseYear']

# iat
# df.iat[1, 2]

1970

In [23]:
df.columns[-2]

'tough'

In [11]:
df.shape[1]

3

In [12]:
df.index[-2]

2

In [13]:
df.loc[df.index[-2]]

languages       C++
tough           yes
releaseYear    1981
Name: 2, dtype: object

In [24]:
df[df.index[-2]]

KeyError: 2

In [31]:
df.iloc[:,2]

0    1997
1    1970
2    1981
3    1990
Name: releaseYear, dtype: int64

In [30]:
df.iloc[:2, -2]

0     no
1    yes
Name: tough, dtype: object

In [ ]:
df.iloc[:, -2]

0     no
1    yes
2    yes
3     no
Name: tough, dtype: object

In [ ]:
df.iloc[:, -2] = 'nooo'

df.head()

  languages tough  releaseYear
0    Python  nooo         1997
1         C  nooo         1970
2       C++  nooo         1981
3      Java  nooo         1990

In [ ]:
t = pd.DataFrame(df.iloc[:, -2])

t

  tough
0  nooo
1  nooo
2  nooo
3  nooo

In [ ]:
t = df.iloc[:, -2:-1]
t

  tough
0  nooo
1  nooo
2  nooo
3  nooo

In [ ]:
t.iloc[[1, 3]] = 'yes'
t

  tough
0  nooo
1   yes
2  nooo
3   yes

In [ ]:
df

  languages tough  releaseYear
0    Python  nooo         1997
1         C  nooo         1970
2       C++  nooo         1981
3      Java  nooo         1990

In [33]:
# df.drop()

In [35]:
df.drop(labels = ['languages', 'tough'], axis = 1)

   releaseYear
0         1997
1         1970
2         1981
3         1990

In [ ]:
df.drop(columns = df.columns[:2])

   releaseYear
0         1997
1         1970
2         1981
3         1990

In [ ]:
df.columns[:2]

Index(['languages', 'tough'], dtype='object')

In [37]:
# adding a new column
df.loc[:, 'Country'] = ['USA', 'Indian', 'Mexico', 'India']

df.head()

  languages tough  releaseYear Country
0    Python    no         1997     USA
1         C   yes         1970  Indian
2       C++   yes         1981  Mexico
3      Java    no         1990   India

In [62]:
df.loc[df[df['Country'] == 'Indian'].index, 'Country'] = 'India'

In [54]:
df

  languages tough  releaseYear Country
0    Python    no         1997     USA
1         C   yes         1970   china
2       C++   yes         1981  Mexico
3      Java    no         1990   china

In [58]:
df[df['Country'] == 'Indian']

Empty DataFrame
Columns: [languages, tough, releaseYear, Country]
Index: []

In [59]:
df.loc[:, 'Country'] = df['Country'].str.replace('Indian', 'India')

In [63]:
df.Country

0       USA
1     India
2    Mexico
3     India
Name: Country, dtype: object