In [1]:
import pandas as pd
import numpy as np

Given the following Series1

A 100

B 200

C 300

D 400

E 500

Write the command to create above Series and
then double the value in series and store in
another series named Series2

In [6]:
series1 = pd.Series((range(100,501,100)), index=['A','B','C','D','E'])
Series2 = series1*2
Series2

A     200
B     400
C     600
D     800
E    1000
dtype: int64

Consider the following Series object, s

 IP 95

 Physics 89

 Chemistry 92

 Math 95
 
i. Write the Python syntax which will display
only IP.

ii. Write the Python syntax to increase marks
of all subjects by 10.

In [15]:
marks = pd.Series({'ip':95,'Physics':89,'Chemistry':92,'Math':95})
print(marks['ip'])
marks += 10
marks

95

ip           105
Physics       99
Chemistry    102
Math         105
dtype: int64

What will be the output produced by the
following programming statements 1 & 2?

import pandas as pd

S1=pd.Series(data=[31,41,51])

print(S1>40) -->Statement1

print(S1[S1>40]) -->Statement2

In [16]:
S1=pd.Series(data=[31,41,51])
print(S1>40) 
print(S1[S1>40])

0    False
1     True
2     True
dtype: bool
1    41
2    51
dtype: int64

7- Given two series S1 and S2

S1                   S2

A 39                 A 10

B 41                 B 10

C 42                 D 10

D 44                 F 10

Find the output for following python pandas
statements?

a. S1[ : 2]*100

b. S1 * S2

c. S2[ : : -1]*10

In [23]:
S1 = pd.Series(data=[39,41,42,44],index=['A','B','C','D'])
S2 = pd.Series(data=10,index=['A','B','D','F'])
S1[:2]*100
S1*S2

A    390.0
B    410.0
C      NaN
D    440.0
F      NaN
dtype: float64