In [18]:
import pandas as pd
import numpy as np

In [2]:
a = pd.Series({'name': 'python', 'type': 'language', 0: 'hello'})
a

name      python
type    language
0          hello
dtype: object

In [8]:
a['type']

'language'

In [9]:
a.type

'language'

In [10]:
# a.0

SyntaxError: invalid syntax (1271385532.py, line 1)

In [3]:
a[0]

'hello'

In [5]:
# a[1]

In [6]:
# a[1]
a.iat[1]

'language'

In [8]:
# a.iat[10]

In [10]:
# a.loc[1]

In [11]:
a.loc[['name', 0]]

name    python
0        hello
dtype: object

In [12]:
a

name      python
type    language
0          hello
dtype: object

In [13]:
a.loc['name': 0]

name      python
type    language
0          hello
dtype: object

In [14]:
a.iloc[:2]

name      python
type    language
dtype: object

In [16]:
b = pd.Series([1, 2, 3, 4, 5], dtype = 'object')
b

0    1
1    2
2    3
3    4
4    5
dtype: object

In [17]:
a = pd.Series({'name': 'python', 'type': 'language', '0': 'hello'}, index = ['a', 'a', '0'], copy = True)
a

a      NaN
a      NaN
0    hello
dtype: object

In [21]:
b = [1, 2, 3]
ser = pd.Series(b, copy=True)
ser.iloc[0] = 999
print(b)

[1, 2, 3]

In [20]:
r = np.array([1, 2])
ser = pd.Series(r, copy=False, name = 'series1')
ser.loc[0] = 999
ser

0    999
1      2
Name: series1, dtype: int32

In [ ]:
r

In [ ]:
r = np.array([1, 2])
ser = pd.Series(r, copy=True)
ser.iloc[0] = 999

r

In [ ]:
# adding elements to series
a['qual'] = 'BTech'
a

In [ ]:
# a[['an', 'm']] = 'MTech'
a = pd.Series([10, 20, 30])
a.loc[['an', 'm']] = [['Btech', 'Mtech']]
a

In [ ]:
profit = {'TCS': 350,'Reliance':200,'L&T':800,'Wipro':150}
profit_series = pd.Series(profit, name = 'profit')

In [ ]:
profit_series[profit_series > 300]

TCS    350
L&T    800
Name: profit, dtype: int64

In [ ]:
dict = {'ip':95,'physics':89,'chemistry':92,'maths':95}

ser = pd.Series(dict)

ser

ip           95
physics      89
chemistry    92
maths        95
dtype: int64

In [ ]:
ser += 10

In [ ]:
ser

ip           105
physics       99
chemistry    102
maths        105
dtype: int64

In [ ]:
ind = ser.index
ind

Index(['ip', 'physics', 'chemistry', 'maths', 'eng', 'hindi'], dtype='object')

In [ ]:
print(f'{ind[0]} - {ser[ind[0]]}')

ip - 105

In [ ]:
ser.iloc[0:1]

ip    105
dtype: int64

In [ ]:
type(ser.iloc[0:1])

pandas.core.series.Series

In [ ]:
type(ser.iloc[0])

numpy.int64

In [ ]:
ser

ip           95
physics      89
chemistry    92
maths        95
dtype: int64

In [ ]:
ser -= [10, 20, 30, 40]
ser

ip           85
physics      69
chemistry    62
maths        55
dtype: int64

In [ ]:
ser['eng'] = 'eng'
ser['hindi'] = 'hindi'
ser

ip              85
physics         69
chemistry       62
maths           55
eng            eng
hindi        hindi
dtype: object

In [ ]:
ser

ip              85
physics         69
chemistry       62
maths           55
eng            eng
hindi        hindi
dtype: object

In [ ]:
ser = ser.astype('str')

In [ ]:
ser += '5'

In [ ]:
ser

ip              855
physics         695
chemistry       625
maths           555
eng            eng5
hindi        hindi5
dtype: object

In [ ]:
ser.keys

<bound method Series.keys of ip              855
physics         695
chemistry       625
maths           555
eng            eng5
hindi        hindi5
dtype: object>

In [ ]:
a.Series.values()

array(['855', '695', '625', '555', 'eng5', 'hindi5'], dtype=object)

In [ ]:
ser.shape

(6,)