In [1]:
import pandas as pd
import numpy as np

### Question 1 
Create a series consisting of numbers and update its value by string of square of number + square of number and ensure that data type for the series should be integer.

output -

0  11

1   44

2   99

In [2]:
new_series = pd.Series([1,2,3,4,5]) 

new_series=new_series.apply(lambda x : str(x**2) + str(x**2))

new_series.astype(int)

0      11
1      44
2      99
3    1616
4    2525
dtype: int32

### Question 2 
WAP that tells the  number of not null values in series, duplicate values in series (if any)

In [14]:
ser = pd.Series({'a':1,'b':2,'c':4,'d':np.nan,'e':4,'f':None,'g':7})
ser

a    1.0
b    2.0
c    4.0
d    NaN
e    4.0
f    NaN
g    7.0
dtype: float64

In [4]:
print('Not null values in the series are : ',ser.count())

none_vals = len(ser[ser.duplicated()])
print('Duplicate values in the series are : ',none_vals)

Not null values in the series are :  5
Duplicate values in the series are :  2

In [16]:
ser.duplicated().sum()

2

### Question 3
WAP to fill the nan values in series (if any) with mean of first three elements of series.

In [15]:
na_values = ser[ser.isna()].index
for i in range( len(na_values)):
    ser[na_values[i]] = ((ser[0] + ser[1] + ser[2])/3)
    
ser = ser.astype(float)
ser.round(2)

a    1.00
b    2.00
c    4.00
d    2.33
e    4.00
f    2.33
g    7.00
dtype: float64

In [17]:
ser.fillna(ser[0:3].mean())

a    1.000000
b    2.000000
c    4.000000
d    2.333333
e    4.000000
f    2.333333
g    7.000000
dtype: float64

In [25]:
ser = pd.Series({'a':1,'b':2,'c':np.nan,'d':np.nan,'e':5,'f':None,'g':7})
ser

a    1.0
b    2.0
c    NaN
d    NaN
e    5.0
f    NaN
g    7.0
dtype: float64

In [26]:
ser.fillna(method = 'bfill')

a    1.0
b    2.0
c    5.0
d    5.0
e    5.0
f    7.0
g    7.0
dtype: float64

In [24]:
ser.fillna(method = 'ffill')

a    1.0
b    2.0
c    4.0
d    4.0
e    5.0
f    5.0
g    7.0
dtype: float64

In [28]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, 2], index=['a', 'b', 'd', 'e'])
a.add(b, fill_value=0)

a    2.0
b    1.0
c    1.0
d    1.0
e    2.0
dtype: float64