In [1]:
import pandas as pd
import random
from sklearn.preprocessing import LabelEncoder

In [2]:
ordinal_categories = ['cat', 'dog', 'mouse','fish']

In [3]:
# Generate random data with ordinal categories
data = []
num_rows = random.randint(100, 200)  # Generate a random number of rows

In [4]:
for _ in range(num_rows):
    category = random.choice(ordinal_categories)  # Randomly select a category
    data.append([category])

In [5]:
# Create a DataFrame
df = pd.DataFrame(data, columns=['animals'])

In [6]:
df

    animals
0      fish
1       cat
2       cat
3      fish
4      fish
..      ...
105    fish
106     cat
107     cat
108    fish
109     dog

[110 rows x 1 columns]

In [7]:
encoder = LabelEncoder()

In [8]:
encoder.fit_transform(df.loc[:,'animals'])

array([2, 0, 0, 2, 2, 1, 0, 3, 0, 1, 2, 1, 0, 1, 3, 1, 1, 3, 2, 2, 2, 0,
       1, 3, 3, 0, 3, 2, 1, 1, 1, 3, 2, 2, 1, 2, 2, 2, 3, 1, 3, 0, 3, 0,
       2, 3, 1, 0, 2, 2, 0, 0, 3, 3, 0, 0, 1, 0, 0, 2, 1, 3, 2, 3, 2, 0,
       0, 0, 0, 1, 2, 0, 0, 2, 0, 3, 1, 2, 3, 2, 0, 3, 3, 2, 3, 1, 2, 2,
       1, 3, 3, 0, 1, 0, 3, 3, 2, 0, 0, 1, 0, 0, 3, 0, 3, 2, 0, 0, 2, 1])

In [9]:
df.loc[:,'animal'] = encoder.fit_transform(df.loc[:,'animals'])

In [11]:
df.head()

  animals  animal
0    fish       2
1     cat       0
2     cat       0
3    fish       2
4    fish       2