In [1]:
import pandas as pd
import numpy as np

In [3]:
lst = ['a','b','c','d','e']
ser = pd.Series( index=[x*10 for x in range( len(lst))],data=lst)
ser

0     a
10    b
20    c
30    d
40    e
dtype: object

In [4]:
ser2 = pd.Series(data=[x for x in range(1,101)],index=[x**2 for x in range(1,101)])
ser2

1          1
4          2
9          3
16         4
25         5
        ...
9216      96
9409      97
9604      98
9801      99
10000    100
Length: 100, dtype: int64