In [1]:
import pandas as pd
import numpy as np

In [93]:
df = pd.DataFrame({'name':['a','b','c','d','e'],'class':[1,1,2,2,3],'marks':[78,82,23,67,12],'isPassed':[True,True,False,True,False]})
df

  name  class  marks  isPassed
0    a      1     78      True
1    b      1     82      True
2    c      2     23     False
3    d      2     67      True
4    e      3     12     False

In [81]:
# new_val ={'name':['f'],'class':[4],'marks':[89],'isPassed':[True]}
new_val=['f',4,89,True]
val = pd.Series(new_val)
val

0       f
1       4
2      89
3    True
dtype: object

In [95]:
pos = 3.5
df.loc[pos,:] = new_val

df.sort_index().reset_index(drop=True)

  name  class  marks isPassed
0    a    1.0   78.0     True
1    b    1.0   82.0     True
2    c    2.0   23.0    False
3    d    2.0   67.0     True
4    f    4.0   89.0     True
5    e    3.0   12.0    False