- 1. Create dataframe from {'col1': ['one', 'two']} and add new columns where values should be vowels extracted from col1 of dataframe

In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame({'col1':['one','two']})
df

  col1
0  one
1  two

In [16]:
def findVowels(x):
    vowels = 'aeiouAEIOU'
    name=''
    for i in x:
        if i in vowels:
            name += i
    
    return name

In [20]:
df.loc[:,'col2'] = df.col1.apply(findVowels)

In [21]:
df

  col1 col2
0  one   oe
1  two    o

- 2. record = {
-   'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
-   'Age': [21, 19, 20, 18, 17, 21],
-   'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
-   'Percentage': [88, 92, 95, 70, 65, 78]}

- Convert above dictionary into pandas dataframe
- Get only those rows where stream is - Science, Bio
- Get only those rows where stream is not Science
- get those rows where stream is Math and marks percentage is more than 90
- Create a new column that shows the division of students marks - first, second or third division
- find the sum of marks of those students whose name started with A

In [23]:
record = {
   'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
   'Age': [21, 19, 20, 18, 17, 21],
   'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
   'Percentage': [88, 92, 95, 70, 65, 78]
}

In [24]:
df2 = pd.DataFrame(record)

In [26]:
df2

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

- Get only those rows where stream is - Science, Bio

In [40]:
df2[(df2['Stream'] == 'Science')| (df2['Stream'] == 'Bio')]

        Name  Age   Stream  Percentage
2  Aishwarya   20  Science          95
5    Shaurya   21  Science          78

- Get only those rows where stream is not Science

In [42]:
df2[df2['Stream'] != 'Science']

       Name  Age    Stream  Percentage
0     Ankit   21      Math          88
1      Amit   19  Commerce          92
3  Priyanka   18      Math          70
4     Priya   17      Math          65

- get those rows where stream is Math and marks percentage is more than 90

In [43]:
df2[(df2.Stream == 'Maths') & (df2.Percentage > 90)]

Empty DataFrame
Columns: [Name, Age, Stream, Percentage]
Index: []

- Create a new column that shows the division of students marks - first, second or third division

In [44]:
def division(x):
    if(x > 90):
        return 'first'
    
    elif(x >= 80):
        return 'second'
    
    else:
        return 'third'

In [46]:
df2.loc[:,'division'] = df2.Percentage.apply(division)

In [47]:
df2

        Name  Age    Stream  Percentage division
0      Ankit   21      Math          88   second
1       Amit   19  Commerce          92    first
2  Aishwarya   20   Science          95    first
3   Priyanka   18      Math          70    third
4      Priya   17      Math          65    third
5    Shaurya   21   Science          78    third

- find the sum of marks of those students whose name started with A

In [69]:
def nameStartsWithA(name,percentage):
    
    if(name[0].lower() == 'a'):
        return percentage
    else:
        return 0

In [61]:
perc = df2[df2.iloc[:,0] == 'Ankit'].Percentage.values
perc[0]

88

In [70]:
sum = 0
sum = df2.Name.apply(lambda x : nameStartsWithA(x, df2[df2.iloc[:,0] == x].Percentage.values[0])).sum()
sum

275