In [2]:
import pandas as pd
import numpy as np

##### Create a series of 100 elements, do the following

1. even
2. odd
3. lie between 2 to 20
4. elements that have only 1 digit or 3 digits in them

In [3]:
ser = pd.Series(data=[x for x in range(1,101)],index=[x**2 for x in range(1,101)])
ser

1          1
4          2
9          3
16         4
25         5
        ...
9216      96
9409      97
9604      98
9801      99
10000    100
Length: 100, dtype: int64

In [4]:
ser[ser%2== 0]
# ser.iloc[1: :2]

4          2
16         4
36         6
64         8
100       10
144       12
196       14
256       16
324       18
400       20
484       22
576       24
676       26
784       28
900       30
1024      32
1156      34
1296      36
1444      38
1600      40
1764      42
1936      44
2116      46
2304      48
2500      50
2704      52
2916      54
3136      56
3364      58
3600      60
3844      62
4096      64
4356      66
4624      68
4900      70
5184      72
5476      74
5776      76
6084      78
6400      80
6724      82
7056      84
7396      86
7744      88
8100      90
8464      92
8836      94
9216      96
9604      98
10000    100
dtype: int64

In [16]:
ser.loc[ser % 2 != 0]
# ser[ser % 2 != 0]
# ser.iloc[0::2]

1        1
9        3
25       5
49       7
81       9
121     11
169     13
225     15
289     17
361     19
441     21
529     23
625     25
729     27
841     29
961     31
1089    33
1225    35
1369    37
1521    39
1681    41
1849    43
2025    45
2209    47
2401    49
2601    51
2809    53
3025    55
3249    57
3481    59
3721    61
3969    63
4225    65
4489    67
4761    69
5041    71
5329    73
5625    75
5929    77
6241    79
6561    81
6889    83
7225    85
7569    87
7921    89
8281    91
8649    93
9025    95
9409    97
9801    99
dtype: int64

In [23]:
# ser.iloc[1:20]
# ser[(ser >= 2) & (ser <= 20 )]
ser[ser.between(2,20, inclusive='left')] # 3 - 20
ser[ser.between(2,20, inclusive='right')] # 2 -19
ser[ser.between(2,20, inclusive='both')] # 2 - 20
ser[ser.between(2,20, inclusive='neither')] # 3 - 19

9       3
16      4
25      5
36      6
49      7
64      8
81      9
100    10
121    11
144    12
169    13
196    14
225    15
256    16
289    17
324    18
361    19
dtype: int64

In [22]:
filtered_elements = [x for x in ser if len(str(x)) == 1 or len(str(x)) == 3]
print(filtered_elements)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

- .astype() is used to typecast a pandas series into the specified datatype

In [32]:
ser = ser.astype('str')
# ser = ser.astype('int64')
ser.dtype

dtype('O')

In [35]:
ser[(ser.str.len() == 1) | (ser.str.len() == 3)]

1          1
4          2
9          3
16         4
25         5
36         6
49         7
64         8
81         9
10000    100
dtype: object

- .isin() is used to find the elements if they exist in the specified iterables

In [39]:
ser[ser.str.len().isin([1,3])]

1          1
4          2
9          3
16         4
25         5
36         6
49         7
64         8
81         9
10000    100
dtype: object