#### WAP to create series and do the following
- update only those elements that are divisible by 2 and 3 to their squares
- rename the label of elements that are perfect squares to their square roots.

In [64]:
import pandas as pd
import numpy as np

In [48]:
ser = pd.Series(range(1,51),index=range(1,51))
ser

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
dtype: int64

In [49]:
ser[(ser % 2 == 0) & (ser % 3 == 0)] = ser**2
a = ser.copy()
a

1        1
2        2
3        3
4        4
5        5
6       36
7        7
8        8
9        9
10      10
11      11
12     144
13      13
14      14
15      15
16      16
17      17
18     324
19      19
20      20
21      21
22      22
23      23
24     576
25      25
26      26
27      27
28      28
29      29
30     900
31      31
32      32
33      33
34      34
35      35
36    1296
37      37
38      38
39      39
40      40
41      41
42    1764
43      43
44      44
45      45
46      46
47      47
48    2304
49      49
50      50
dtype: int64

In [60]:
ser[(ser % 2 == 0) & (ser % 3 == 0)].index

Int64Index([6, 12, 18], dtype='int64')

In [88]:
ser = pd.Series(range(1,21),index=range(1,21))
ser

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
dtype: int64

In [89]:
isSqrt = lambda x : x**0.5 == int(x**0.5)

def modify_label(label, value):
    
    if(isSqrt(value)):
        return int(label**0.5);
    else:
        return int(label)

ser.rename(lambda x : modify_label(x, ser.loc[x]), inplace= True )

ser

1      1
2      2
3      3
2      4
5      5
6      6
7      7
8      8
3      9
10    10
11    11
12    12
13    13
14    14
15    15
4     16
17    17
18    18
19    19
20    20
dtype: int64

In [63]:
b = pd.Series(range(1,21),index=range(1,21))
b

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
dtype: int64

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
dtype: int64

In [73]:
b

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
dtype: int64