#### Creation of data frames

In [3]:
import pandas as pd
import numpy as np

In [4]:
dict = {'col1': [1,2,3,4,5,6,7,8],'col2': [3,4,5,6,7,8,9,0]}
a = pd.DataFrame(dict)
a

   col1  col2
0     1     3
1     2     4
2     3     5
3     4     6
4     5     7
5     6     8
6     7     9
7     8     0

In [22]:
#   this will generate error as scalar values are present int the dictionary
dict = {'col1': [1],'col2': [3]}
df = pd.DataFrame(dict, index=[1,'b',0])
df

   col1  col2
1     1     3
b     1     3
0     1     3

In [7]:
df = pd.DataFrame([
    [1,2,3],
    [2,3,4],
    [4,5,6]
])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [7]:
df.describe()

              0         1         2
count  3.000000  3.000000  3.000000
mean   2.333333  3.333333  4.333333
std    1.527525  1.527525  1.527525
min    1.000000  2.000000  3.000000
25%    1.500000  2.500000  3.500000
50%    2.000000  3.000000  4.000000
75%    3.000000  4.000000  5.000000
max    4.000000  5.000000  6.000000

In [28]:
df = pd.DataFrame(pd.Series({'col1': 1,'col2': 3}, name='created from series'))
df

      created from series
col1                    1
col2                    3

#### how to acess the elements of data frame

- .loc[row-label, col-label] 
- .iloc[row-position, col-position]

- .at[row-label, col-label]
- .iat[row-position, col-position]

- df[col-label] [row-label]
- df.col-label

[1, 2, 3, 1, 2, 3]