In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'name': ['a','b'],'class':[8,9]})
df

  name  class
0    a      8
1    b      9

In [4]:
def hello(x):
    return ''+x;

df.loc[:,'name'] = df.name.apply(lambda x : hello(x))
df

  name  class
0    a      8
1    b      9

In [5]:
df.add_suffix('g')

  nameg  classg
0     a       8
1     b       9

In [7]:
df.add_suffix('g', axis= 0)

   name  class
0g    a      8
1g    b      9

In [17]:
type(df)

pandas.core.frame.DataFrame

In [9]:
print(np.__version__)

1.25.2