##### handling missing values in series

In [1]:
import pandas as pd
import numpy as np

In [3]:
a = pd.Series(range(1,11))
a.size

10

In [4]:
a.drop([5,6,7], inplace=True)
a

0     1
1     2
2     3
3     4
4     5
8     9
9    10
dtype: int64

In [43]:
b = pd.Series([np.nan, 1,2,3,4, np.nan, 6])
b

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
5    NaN
6    6.0
dtype: float64

In [18]:
b.isna()

True

In [20]:
b.isna().any() # return true if atleast 1 element is true

True

In [22]:
b.isna().all() # return false if atleast 1 element is false

False

In [26]:
b.hasnans # return true if atleast 1 element is nan

True

In [27]:
b.isna().sum() # returning the no. of true values in b.isna()

2

In [33]:
b.notna()  # returning all the not nan values

0    False
1     True
2     True
3     True
4     True
5    False
6     True
dtype: bool

In [34]:
b.count() # it will count the non empty (non-nan values) values

5

In [35]:
b.notna().count()  # output will be 7 as all the values of b.notna() will be true/false but not nan values

7

#### how to deal with the nan values

In [41]:
# b.dropna(inplace=True)
b.dropna()  # drop all the nan values (returns copy)

1    1.0
2    2.0
3    3.0
4    4.0
6    6.0
dtype: float64

In [45]:
b.fillna(45) # returns copy of the series

0    45.0
1     1.0
2     2.0
3     3.0
4     4.0
5    45.0
6     6.0
dtype: float64