In [2]:
import pandas as pd
import random
from sklearn.preprocessing import LabelEncoder

In [3]:
ordinal_categories = ['cat', 'dog', 'mouse','fish']

In [4]:
# Generate random data with ordinal categories
data = []
num_rows = random.randint(100, 200)  # Generate a random number of rows

In [5]:
for _ in range(num_rows):
    category = random.choice(ordinal_categories)  # Randomly select a category
    data.append([category])

In [6]:
# Create a DataFrame
df = pd.DataFrame(data, columns=['animals'])

In [7]:
df

    animals
0     mouse
1     mouse
2      fish
3       dog
4       dog
..      ...
137     dog
138     dog
139     dog
140   mouse
141   mouse

[142 rows x 1 columns]

In [8]:
encoder = LabelEncoder()

In [9]:
encoder.fit_transform(df.loc[:,'animals'])

array([3, 3, 2, 1, 1, 2, 2, 0, 3, 3, 1, 1, 0, 2, 2, 1, 3, 1, 1, 1, 3, 1,
       2, 0, 3, 3, 2, 0, 0, 0, 0, 0, 1, 3, 2, 3, 1, 1, 1, 0, 2, 3, 3, 2,
       3, 3, 2, 2, 0, 2, 0, 3, 2, 3, 3, 0, 3, 2, 1, 2, 0, 3, 0, 2, 0, 2,
       3, 0, 1, 1, 1, 0, 3, 2, 1, 3, 0, 0, 2, 2, 0, 3, 3, 0, 0, 3, 3, 1,
       2, 1, 2, 0, 3, 1, 1, 1, 1, 1, 3, 0, 1, 3, 0, 1, 3, 2, 1, 3, 1, 1,
       2, 1, 2, 1, 2, 2, 2, 0, 3, 0, 2, 1, 0, 3, 1, 3, 1, 2, 3, 2, 3, 1,
       3, 0, 2, 2, 0, 1, 1, 1, 3, 3])

In [10]:
df.loc[:,'animal'] = encoder.fit_transform(df.loc[:,'animals'])

In [12]:
df

    animals  animal
0     mouse       3
1     mouse       3
2      fish       2
3       dog       1
4       dog       1
..      ...     ...
137     dog       1
138     dog       1
139     dog       1
140   mouse       3
141   mouse       3

[142 rows x 2 columns]